/* Create Account Color: #596D48
   Default Inputs Color: #E5E7EB
   Password Inputs invalid: red border
   Focused Input: blue border and subtle box shadow
*/

* {
    font-family: sans-serif, Verdana, "Times New Roman";
    font-size: 30px;
    background-color: white;
    color: black;
}

button {
    background-color: #596D48;
}

.container {
    position: relative;
    text-align: center;
    color: white;
    display: flex;
}

.centered {
    position: absolute;
    top: 60%;
    left: 60%;
    transform: translate(-80%, -80%);
    opacity: .6;
}

.form {
    display: flex;
    flex-wrap: wrap;

}